/**************************
 設定変更箇所
**************************/

:root {
  /** 表示行数の上限 */
  --line-clamp: 3;
  /** ダイス結果の上下揃えの設定 */
  --is-top: auto; /* 上揃えの場合⇒0、下揃えの場合⇒auto */
  --is-bottom: 0; /* 上揃えの場合⇒auto、下揃えの場合⇒0 */
  /** ダイス結果背景 */
  --width: 500px; /** 結果の横幅 */
  --background-color: rgba(0, 0, 0, 0.6); /** 背景色 */
  --background-padding: 8px 18px 8px 18px; /** 外枠と文字の隙間 */
  --border-color: rgba(255, 255, 255, 1); /** 枠線の色 */
  --border-image: url(https://xxx/yyy.png); /** 枠線に画像を使用 */
  --border-slice: 0px; /** 枠線画像の太さ */
  --border-width: 0px; /** 枠線の幅 */
  --border-radius: 10px; /** 角の丸み */
  --border-shadow: 5px 5px 10px black; /** 読み方）X軸 Y軸 影の幅 色 */
  --result-space: 10px; /** ダイス結果同士の隙間 */
  /** アイコン画像の設定 */
  --icon-radius: 30%; /** 画像の丸み：0%⇒四角、50%⇒正円 */
  --icon-background-color: transparent; /** アイコン背景色：transparentで透明 */
  --icon-width: 70px; /** 画像の横幅 */
  --icon-height: 70px; /** 画像の高さ */
  --icon-margin-top: 0px; /** アイコン上のスペース */
  --icon-margin-bottom: 0px; /** アイコン下のスペース */
  --icon-margin-left: -20px; /** アイコン左のスペース */
  --icon-margin-right: 15px; /** アイコン右のスペース */
  /** ダイス結果の文字部分（デフォルト） */
  --font-size-result: 1.5rem;
  --font-color-result: rgba(255, 255, 255, 1);
  --font-shadow-result: 2px 2px 3px black; /** 読み方）X軸 Y軸 影の幅 色 */
  /** ダイス結果の文字部分（(1D100) > 40 など） */
  --font-size-detail: 1.1rem;
  --font-color-detail: rgba(200, 200, 200, 1);
  --font-shadow-detail: 2px 2px 3px black; /** 読み方）X軸 Y軸 影の幅 色 */
  /** 成功時の青文字部分 */
  --font-size-success: 1.1rem;
  --font-color-success: rgba(134, 202, 255, 1);
  --font-shadow-success: 2px 2px 3px black; /** 読み方）X軸 Y軸 影の幅 色 */
  /** 失敗時の赤文字部分 */
  --font-size-fail: 1.1rem;
  --font-color-fail: rgba(255, 161, 161, 1);
  --font-shadow-fail: 2px 2px 3px black; /** 読み方）X軸 Y軸 影の幅 色 */
  /** ユーザ名の部分 */
  --font-size-user-name: 1.1rem;
  --font-color-user-name: rgba(255, 255, 255, 1);
  --font-shadow-user-name: 2px 2px 3px black; /** 読み方）X軸 Y軸 影の幅 色 */
  /** ダイスを振った時間を表示するか */
  --disp-dice-time: transparent; /** none⇒表示しない、transparent⇒表示する */
  --font-size-dice-time: 1rem;
  --font-color-dice-time: rgba(255, 255, 255, 0.6);
  --font-shadow-dice-time: 2px 2px 3px black; /** 読み方）X軸 Y軸 影の幅 色 */
}

/**************************
 OBS用のおまじない
**************************/

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
 非表示要素の設定
**************************/

/** ツールバー */
.MuiToolbar-regular,
/** ダイス結果 */
.MuiPaper-elevation1,
/** チャット入力欄の削除 */
.MuiPaper-root > form,
/** 背景の非表示 */
#root>div>div:nth-child(2),
/** 前景全体 */
#root>div>div:nth-child(3),
/** 監視モード注釈の削除 */
.MuiSnackbar-root,
/** 広告の削除 */
.MuiDialog-root {
  display: none !important;
}

/**************************
　デザイン
**************************/

/**　右側全体 */
.MuiDrawer-root > .MuiPaper-root {
  /** チャットがアニメーションする幅を確保 */
  width: 100% !important;
}

/** ダイス結果間の境界線 */
hr {
  display: none !important;
}

/**　ダイス結果 */
.MuiList-root > div > div > div {
  padding: var(--background-padding) !important;
  background: var(--background-color) !important;
  border: solid var(--border-width) var(--border-color) !important;
  border-radius: var(--border-radius) !important;
  border-image-source: var(--border-image) !important;
  border-image-slice: var(--border-slice) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  box-sizing: border-box !important;
  box-shadow: var(--border-shadow) !important;
  align-items: center !important;
  /** ダイス結果の横幅を設定 */
  width: var(--width) !important;
  height: auto !important;
  position: relative !important;
  top: 0 !important;
  /** ダイス結果同士の距離感を設定 */
  margin: var(--result-space) !important;
  /** 要素の高さを持ってる子要素に合わせる */
  height: auto !important;
  min-height: auto !important;
  /** ダイス結果の横幅を設定 */
  width: var(--width) !important;
  /** top,leftなどの影響を受けないようにする */
  position: relative !important;
  /* 他の要素のサイズで箱の要素の横幅が変わらないよう固定 */
  flex-shrink: 0 !important;
  /** 自動で設定されるtopをリセットする */
  top: 0 !important;
  /** ダイス結果をすべて非表示に。外出しした設定にimportantを付けることで設定した個数だけ表示する */
  display: none;
}

/**　チャット欄アイコン入れ物 */
.MuiListItemAvatar-root {
  min-width: unset;
  margin-top: var(--icon-margin-top) !important;
  margin-bottom: var(--icon-margin-bottom) !important;
  margin-left: var(--icon-margin-left) !important;
  margin-right: var(--icon-margin-right) !important;
}
/**　チャット欄アイコン背景 */
.MuiListItemAvatar-root > div {
  width: var(--icon-width) !important;
  height: var(--icon-height) !important;
  background: var(--icon-background-color) !important;
  border-radius: var(--icon-radius) !important;
}
/** チャット欄アイコン画像 */
.MuiListItemAvatar-root img {
  width: var(--icon-width) !important;
}

/**　右側背景 */
.MuiPaper-root {
  background-color: rgba(0, 0, 0, 0) !important;
}

/** ダイス結果のスクロールを発生させないよう高さを指定 */
.MuiList-root > div {
  height: 100% !important;
}
.MuiList-root > div > div {
  position: absolute !important;
  /** ダイス結果の上揃え、下揃えを設定 */
  top: var(--is-top) !important;
  bottom: var(--is-bottom) !important;
}

/* ダイス結果欄のテキストすべてを囲う要素 */
.MuiListItemText-root {
  /* ダイス結果が長すぎて四角をはみ出た場合に、はみ出し部分を表示しない */
  overflow: hidden !important;
}

/** ダイス結果テキスト（ユーザ名などを除く） */
p.MuiTypography-root {
  /** -webkit-line-clampを有効にするためのおまじない */
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  /* ダイス結果の上限行数を指定(超えると…表示になる) */
  -webkit-line-clamp: var(--line-clamp) !important;
  color: var(--font-color-result) !important;
  text-shadow: var(--font-shadow-result) !important;
  font-size: var(--font-size-result) !important;
}

/** (1D100) > 40 などその他の文字部分 */
.css-ucj12 {
  color: var(--font-color-detail) !important;
  text-shadow: var(--font-shadow-detail) !important;
  font-size: var(--font-size-detail) !important;
}

/** 成功時の青文字部分 */
.css-1l6qhgm {
  color: var(--font-color-success) !important;
  text-shadow: var(--font-shadow-success) !important;
  font-size: var(--font-size-success) !important;
}

/* 失敗時の赤字部分 */
.css-1j13mke {
  color: var(--font-color-fail) !important;
  text-shadow: var(--font-shadow-fail) !important;
  font-size: var(--font-size-fail) !important;
}

/* ユーザ名、ダイスを振った時間 */
.MuiListItemText-primary,
.MuiTypography-caption {
  /** ユーザ名を設定した色にしたい場合はここ（color）を削除する */
  color: var(--font-color-user-name) !important;
  text-shadow: var(--font-shadow-user-name) !important;
  font-size: var(--font-size-user-name) !important;
}
/* ダイスを振った時間 */
span.MuiTypography-root.MuiTypography-caption {
  display: var(--disp-dice-time) !important;
  color: var(--font-color-dice-time) !important;
  text-shadow: var(--font-shadow-dice-time) !important;
  font-size: var(--font-size-dice-time) !important;
}
