:root {
  --blur-degree: 0px;
}

/**************************
 非表示項目の設定
**************************/
/** もろもろ */
#root>div>div:nth-child(n+3),
/** ツールバー */
.MuiToolbar-regular,
/** ダイス結果、チャット入力欄の削除 */
.MuiPaper-elevation1 {
  display: none !important;
}
/** 広告の削除 */
.MuiDialog-root {
  display: none !important;
}
#root>div>div>div:nth-child(1) {
  filter: blur(var(--blur-degree)) !important;
}
