/**************************
 OBS用のおまじない
**************************/

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
 非表示項目の設定
**************************/

/** ツールバー */
.MuiToolbar-regular,
/** サウンド設定 */
.bGVpMS,
/** 盤面サイズ設定 */
.ifPGDp,
/** 編集ボタン */
.ktEoRZ,
/** チャット欄 */
.MuiDrawer-paper,
/** 配置固定したスクリーンパネルの削除 */
.PrbGZ,
/** 配置固定していないスクリーンパネルの削除 */
.fZrjps,
/** 配置固定したマーカーパネルの削除 */
.kAaVzZ,
/** 配置固定していないマーカーパネルの削除 */
.gZAqaA,
/** 前景の削除 */
.iAOgCy>div>div>img,
/** ステータスの削除 */
.jwMWZb,
/** キャラ駒の削除 */
.fYeaLa,
/** ダイス結果、チャット入力欄の削除 */
.MuiPaper-elevation1 {
  display: none !important;
}
/** 広告の削除 */
.MuiDialog-root {
  display: none !important;
}
/** メイン盤面の見切れを解消 */
.bXnBWt {
  right: -960px !important;
}
/** 背景の非表示 */
.cbgJdn {
  opacity: 0 !important;
}
/** モーダル背景の削除 */
.fyqfMj {
    background: rgba(0,0,0,0) !important;
}