/**************************
 OBS用のおまじない
**************************/

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
 非表示項目の設定
**************************/

/** ツールバー */
.MuiToolbar-regular,
/** サウンド設定 */
.hPLikI,
/** 盤面サイズ設定 */
.auYFM,
/** 編集ボタン */
.ljTpTZ,
/** チャット欄 */
.MuiDrawer-paper,
/** 配置固定したスクリーンパネルの削除 */
.fGQKCn,
/** 配置固定していないスクリーンパネルの削除 */
.hIGVWG,
/** 配置固定したマーカーパネルの削除 */
.bdaUhq,
/** 配置固定していないマーカーパネルの削除 */
.hNtJoP,
/** 前景の削除 */
.jRThuu>div>div>img,
/** ステータスの削除 */
.jjydZu,
/** キャラ駒の削除 */
.iKjAPH,
/** ダイス結果、チャット入力欄の削除 */
.MuiPaper-elevation1,
/** カードデッキの削除 */
.goqjuy,
/** ダイスシンボルの削除 */
.emblvR,
/** タイマーの削除 */
.cbfxrz,
/** 監視モード注釈の削除 */
.MuiSnackbar-root {
  display: none !important;
}
/** 広告の削除 */
.MuiDialog-root {
  display: none !important;
}
/** メイン盤面の見切れを解消 */
.bXnBWt {
  right: -960px !important;
}
/** 背景の非表示 */
.jdlckh {
  opacity: 0 !important;
}
/** モーダル背景の削除 */
.dWPPvt {
  background: rgba(0, 0, 0, 0) !important;
}
