/**************************
 OBS用のおまじない
**************************/

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
 非表示項目の設定
**************************/

/** ツールバー */
.MuiAppBar-root,
/** サウンド設定 */
.ehpWma,
/** 盤面サイズ設定 */
.VniSm,
/** 編集ボタン */
.jItBif,
/** チャット欄 */
.MuiDrawer-paper,
/** 配置固定したスクリーンパネルの削除 */
.hcTYPf,
/** 配置固定していないスクリーンパネルの削除 */
.ghXOMC,
/** 配置固定したマーカーパネルの削除 */
.beCBEn,
/** 配置固定していないマーカーパネルの削除 */
.cwrusq,
/** キャラ駒の名前の削除 */
.jDbTzn,
/** キャラ駒の削除 */
.eucqli,
/** カットインの削除 */
.erRkBX,
/** ダイス結果(下)の削除 */
.kEQhkG,
/** サイコロ画像の削除 */
.iSEgox,
/** ステータスの削除 */
.gpoAiV
 {
  display: none !important;
}
/** 背景の非表示 */
.fA-DYIg {
  opacity: 0 !important;
}
/** 広告の削除 */
.MuiDialog-scrollPaper {
  display: none !important; /** 広告画像の削除 */
}
.MuiBackdrop-root {
  background: rgba(0,0,0,0) !important; /** 広告背景の削除 */
}