/**************************
 設定変更箇所
**************************/

:root {
  /**************************
   アイコン
 **************************/
  /** アイコンを表示するか：inline-flex⇒通常、none：非表示 */
  --disp-icon: none;
  /** アイコンの大きさ */
  --icon-size: 60px;
  /** アイコンの角の丸み：50%⇒正円 */
  --icon-radius: 7px;
  /** アイコンとステータスの配置：inline-flex⇒横並び、inline-block⇒縦並び */
  --placement-icon-status: inline-block;
  /** アイコンの位置調整(縦) */
  --icon-position-x1: 0px; /** 横並びの時の縦位置の設定。縦並びの場合は0に設定する */
  --icon-position-x2: 10px; /** 縦並びの時の縦位置の設定。横並びの場合は0に設定する */
  /** アイコンの位置調整(横) */
  --icon-position-y1: 0px; /** 横並びの時の横位置の設定。縦並びの場合は0に設定する */
  --icon-position-y2: 170px; /** 縦並びの時の横位置の設定。横並びの場合は0に設定する */

  /**************************
   ステータス（全体）
 **************************/
  /** ステータスの横幅 */
  --width-status: 170px;
  /** ステータスの行間 */
  --height-status: 40px;
  /** ステータス同士の距離 */
  --space-between-status: 160px;

  /**************************
    ステータス（個別）
  **************************/
  /** ステータス1～6行目の位置調整 */
  --left-space-status1: 115px;
  --left-space-status2: 92px;
  --left-space-status3: 69px;
  --left-space-status4: 46px;
  --left-space-status5: 23px;
  --left-space-status6: 0px;
  /** ステータスの横幅＋位置調整の最大値以上に設定してください */
  --max-width: 300px;

  /**************************
    ステータス（最大値）
  **************************/
  --height-total: 30px; /** 高さ */
  --top-total: 0px; /** 位置 */
  --color-total: rgb(255, 255, 255); /** 色 */
  --image-total: url(https://gazounoURL); /** ステータス背景を画像にしたい場合 */
  --opacity-total: 0.6; /** 不透明度 */
  --degree-total: -30deg; /** 角の角度 */
  --radius-total: 0px; /** 角の丸み */

  /**************************
    ステータス（現在値）
  **************************/
  --height-remain: 30px; /** 高さ */
  --top-remain: 0px; /** 位置 */
  --color-remain: rgb(255, 255, 255); /** 色 */
  --opacity-remain: 1; /** 不透明度 */
  --degree-remain: -30deg; /** 角の角度 */
  --radius-remain: 0px; /** 角の丸み */

  /**************************
   文字
 **************************/
  /** ステータス文字の周りの余白(上,下,左,右) */
  --status-padding-top: 3px;
  --status-padding-bottom: 3px;
  --status-padding-left: 20px;
  --status-padding-right: 20px;
  /** HPなど、見出し側のフォント、サイズ、色 */
  --item-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --item-font-size: 25px;
  --item-font-color: rgb(66, 66, 66);
  /** 12/15など、ステータス側のフォント、サイズ、色 */
  --status-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --status-font-size: 25px;
  --status-font-color: rgb(66, 66, 66);
  /* 不定時の赤字の色 */
  --futei-font-color: rgb(197, 17, 98);
  /** HPなど、見出しの周りに白縁を設定する */
  --item-outline-color: rgba(255, 255, 255, 1);
  /** 12/15など、ステータスの周りに白縁を設定する */
  --status-outline-color: rgba(255, 255, 255, 1);
}

/**************************
 OBS用のおまじない
**************************/

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/**************************
 非表示要素の設定
**************************/

/** ツールバー */
.MuiToolbar-regular,
/** サウンド設定 */
.eLyRoF,
/** 盤面サイズ設定 */
.iydCdD,
/** 編集ボタン */
.MuiFab-root,
/** チャット欄 */
.MuiDrawer-paper,
/** 配置固定したスクリーンパネルの削除 */
.bYSbUT,
/** 配置固定してないスクリーンパネルの削除 */
.cmsyeO,
/** 配置固定したマーカーパネルの削除 */
.lfgopw,
/** 配置固定してないマーカーパネルの削除 */
.fBwYpd,
/** 背景の削除 */
.bXnBWt,
/** 前景の削除 */
.cTrKpP img:nth-child(1),
.cTrKpP img:nth-child(2),
/** キャラ駒の削除 */
.gFQitj,
/** カットインの削除 */
.gXiIDm,
/** ダイス結果、チャット入力欄の削除 */
.MuiPaper-elevation1 {
  display: none !important;
}
/** 背景の非表示 */
.fA-DYIg {
  opacity: 0 !important;
}
/** 広告の削除 */
.MuiDialog-scrollPaper {
  display: none !important; /** 広告画像の削除 */
}
.MuiBackdrop-root {
  background: rgba(0, 0, 0, 0) !important; /** 広告背景の削除 */
}

/************************
 デザイン
***********************/
.MuiBadge-badge {
  display: none !important;
}
.MuiBadge-root {
  display: var(--disp-icon) !important;
  top: var(--icon-position-x1) !important;
  margin-right: var(--icon-position-y1) !important;
  margin-bottom: var(--icon-position-x2) !important;
  margin-left: var(--icon-position-y2) !important;
}
.dmyweD {
  width: var(--icon-size) !important;
  height: var(--icon-size) !important;
  border-radius: var(--icon-radius) !important;
}
.kjsKwY {
  display: var(--placement-icon-status) !important;
  margin-right: var(--space-between-status) !important;
  vertical-align: middle;
}
.jKvVYK {
  display: block !important;
}
.ivVGNc {
  width: var(--width-status) !important;
}
.ivVGNc:nth-child(1) {
  margin-left: var(--left-space-status1) !important;
}
.ivVGNc:nth-child(2) {
  margin-left: var(--left-space-status2) !important;
}
.ivVGNc:nth-child(3) {
  margin-left: var(--left-space-status3) !important;
}
.ivVGNc:nth-child(4) {
  margin-left: var(--left-space-status4) !important;
}
.ivVGNc:nth-child(5) {
  margin-left: var(--left-space-status5) !important;
}
.ivVGNc:nth-child(6) {
  margin-left: var(--left-space-status6) !important;
}
.ivVGNc {
  height: var(--height-status) !important;
}
.eGFMyS {
  height: var(--height-total) !important;
  top: var(--top-total) !important;
  background: var(--color-total) !important;
  transform: skewX(var(--degree-total)) !important;
  opacity: var(--opacity-total) !important;
  border-radius: var(--radius-total) !important;
}
.YKRSi {
  height: var(--height-remain) !important;
  top: var(--top-remain) !important;
  background: var(--color-remain) !important;
  transform: skewX(var(--degree-remain)) !important;
  opacity: var(--opacity-remain) !important;
  border-radius: var(--radius-remain) !important;
  content: var(--image-total) !important;
}
.dNSdUd {
  padding-top: var(--status-padding-top) !important;
  padding-bottom: var(--status-padding-bottom) !important;
  padding-left: var(--status-padding-left) !important;
  padding-right: var(--status-padding-right) !important;
}
.hdSBPB {
  font-family: var(--item-font-family) !important;
  font-size: var(--item-font-size) !important;
  color: var(--item-font-color) !important;
  text-shadow: var(--item-outline-color) 1px 1px 0px,
    var(--item-outline-color) -1px -1px 0px,
    var(--item-outline-color) -1px 1px 0px,
    var(--item-outline-color) 1px -1px 0px,
    var(--item-outline-color) 0px 1px 0px,
    var(--item-outline-color) 0px -1px 0px,
    var(--item-outline-color) -1px 0px 0px,
    var(--item-outline-color) 1px 0px 0px !important;
}
.iEZLvZ {
  font-family: var(--status-font-family) !important;
  font-size: var(--status-font-size) !important;
  color: var(--status-font-color) !important;
  text-shadow: var(--status-outline-color) 1px 1px 0px,
    var(--status-outline-color) -1px -1px 0px,
    var(--status-outline-color) -1px 1px 0px,
    var(--status-outline-color) 1px -1px 0px,
    var(--status-outline-color) 0px 1px 0px,
    var(--status-outline-color) 0px -1px 0px,
    var(--status-outline-color) -1px 0px 0px,
    var(--status-outline-color) 1px 0px 0px !important;
}
.dLKiqb {
  color: var(--futei-font-color) !important;
}
.fzrNrl {
  /* ステータスを一定以上の横幅にしたときに見切れないようにする設定 */
  overflow-y: visible !important;
  /** ステータスをひし形にした際に左側の角が見切れないようにする設定 */
  margin-left: 60px !important;
  max-width: var(--max-width) !important;
}
