:root {
  --num-hour: 15;
  --num-minute: 30;
  --font-color: black;
  --font-size: 28px;
  --font-family: Futura, sans-serif;
  --font-weight: 600;
  --text-distance: 28px;
}

$t: 2s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$front: black;
$back: #aaa;

#main-text {
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  padding: var(--text-distance);

  @keyframes pop {
    0% {
      transform: translate3d(0,0,0);
      text-shadow: 0em 0em 0 $back;
      color: $front;
    }
    30% {
      transform: translate3d(0,0,0);
      text-shadow: 0em 0em 0 $back;
      color: $front;
    }
    70% {
      transform: translate3d($d,-$d,0);
      text-shadow: -$d $d $back;
      color: $front;
    }
    100% {
      transform: translate3d($d,-$d,0);
      text-shadow: -$d $d $back;
      color: $front;
    }
  }
  span {
    position: relative;
    display: inline-block;
    animation: pop $t infinite alternate $e;
    @for $i from 1 through $n {
      &:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
    }
  }

}
