:root {
  --num-hour: 15;
  --num-minute: 30;
  --font-color: black;
  --font-size: 70px;
  --font-family: serif;
  --font-weight: normal;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#main-text {
  display: flex;
  overflow: hidden;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

#main-text span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

#main-text.-visible span {
  transform: translate(0, 0);
}

#main-text span {
  @for $i from 1 through 23 {
    &:nth-child(#{$i + 1}) {
      $delay: $i * 0.04 + s;
      transition-delay: $delay;
    }
  }
}
